target/
classes/
*.class
**/classes/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse (= STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS Index ###
.DS_Store
Thumb.db

### Front-end compiled ###
node_modules/
node/

### file upload path ###
**/webapp/upload/**

### Prevent changes to spring java execution settings ###
.vscode/launch.json